body {
   font-family: 'Poppins', sans-serif;
    /* font-weight: regular400, medium500, semibold600; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

p {
  margin: 0 auto;
  color: white;
}

.countdown-days {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-top: 20px;
  text-shadow: #f00 1px 0 10px;

}

.countdown-hours {
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: #f00 1px 0 10px;
}

.container {
  height: 230px;
  width: 410px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("image/136080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #a7c957; */
}

/* // Paste the code inside the <body> tag
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
    var sf = new Snowflakes({
        color: "#669c35",
        count: 100,
        minSize: 4,
        maxSize: 50
    });
</script> */

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  /* padding-top: 10px; */
}

.countdown {
  margin: 0 auto;
  padding: 0;
  font-size: 40px;
  color: white;
}